*::before,::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: medium;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	scroll-behavior: smooth;
}

#sec1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: auto;
	padding: 0;
	margin-bottom: 0%;
	z-index: 1;
}

nav {
	position: static;
	top: 10px;
	right: 10px;
	background-color: rgba(51, 51, 51, 0.8); /* Semi-transparent background */
	padding: 10px 20px;
	border-radius: 5px;
  }
  
  nav ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
  }
  
  nav ol li {
	margin-left: 20px;
	list-style-type: upper-roman;
  }

  #navbar ol li a {
	color: #007bff;
	text-decoration: none;
  }

  #navbar ol li a:hover{
	color: #0056b3;
  }

  #navbar ol li a:visited {
	color: #777
  }

  #navbar ol li a:visited:not(:hover) {
	color: azure;
	transition: color 0.3s ease-in-out;
  }

  main {
	margin-top: -150px;
  }

  #welcome-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0%;
  }

  #welcome-section h1 {
	z-index: 2;
	margin: 0%;
  }

  #welcome-section h2 {
	z-index: 1;
	margin: 0%;
  }

  #header-img {
	z-index: -1;
	width: 350px;
	height: 100vh;
	object-fit: cover;
  }
